<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cadastro de Empresas{% endblock %}</title>
        <link href="{{ asset('dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    </head>
    <body>

        <div class="container mt-4">
            {% set errorMessages = app.flashes('error') %}
            {% if errorMessages is not empty %}
                <div class="alert alert-danger">
                    {% for message in errorMessages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
            {% endif %}

            {% set successMessages = app.flashes('success') %}
            {% if successMessages is not empty %}
                <div class="alert alert-success">
                    {% for message in successMessages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
            {% endif %}

            {% block body %}{% endblock %}
        </div>

        <script src="{{ asset('dist/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('js/inputmask.min.js') }}"></script>
    </body>
</html>